<article class="Contenedor">
  <section class="Titulo_Caja">
    <h1 class="Titulo_Letra">Habilidades y competencias</h1>
  </section>

  <table class="Tabla_Contenido">
    <ul *ngFor="let Experiencia of ExperienciaLaboral">
        <tr>
          <p class="Tabla_Contenido_Letra Tabla_Contenido_Letra-Titulo">
            Tecnologia
          </p>
          <td>
            <p class="Tabla_Contenido_ Letra Tabla_Contenido_Letra-Texto">
              {{ Experiencia.Tecnologia }}
            </p>
          </td>
        </tr>

        <td class="Tabla_Contenido_Icono">
          <p class="Tabla_Contenido_Letra Tabla_Contenido_Letra-Titulo">
            Nivel
          </p>

          <ul *ngFor="let nivel of Experiencia.Nivel">
            <td>
              <img class="Tabla_Contenido_Imagen" src="../../assets/estrella.png" alt=""/>
            </td>
          </ul>
        </td>
    </ul>
  </table>
</article>
